<web-app>
	<context-param>
		<param-name>AddressesApi.implementation</param-name>
		<param-value>com.example.impl.AddressesApiServiceImpl.class</param-value>
	</context-param>
	<context-param>
		<param-name>CustomersApi.implementation</param-name>
		<param-value>com.example.impl.AddressesApiServiceImpl.class</param-value>
	</context-param>
</web-app>
