.ui-breadcrumb .ui-icon.ui-icon-home {
    background-image: url( 'https://www.pace.edu/online-learning/sites/pace.edu.online-learning/files/home_icon_small.png' );
    width: 50px;
    height: 50px;
    background-position: 0 0;
}
