<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" >

	<context-param>
                <param-name>appId</param-name>
                <param-value></param-value>
        </context-param>

	<context-param>
                <param-name>IdentityPoolId</param-name>
                <param-value></param-value>
        </context-param>

	<!-- default content for helloworld application -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>

