<?xml version="1.0" encoding="utf-8"?>
<web-app version="6.0">

        <listener>
                <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
        </listener>

	<welcome-file-list>
		<welcome-file>greeting.xhtml</welcome-file>
	</welcome-file-list>

	<!-- Mojarra does not support CSP -->
	<!-- https://primefaces.github.io/primefaces/15_0_0/#/core/contentsecuritypolicy?id=known-limitations -->
	<!-- https://github.com/jakartaee/faces/issues/1590 -->
	<context-param>
		<param-name>primefaces.CSP</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>saga</param-value>
	</context-param>

	<context-param>
		<param-name>jakarta.faces.CLIENT_WINDOW_MODE</param-name>
		<param-value>url</param-value>
	</context-param>

</web-app>
