<?xml version="1.0" encoding="utf-8"?>
<web-app version="6.0">

        <listener>
                <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
        </listener>

	<welcome-file-list>
		<welcome-file>greeting.xhtml</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>jakarta.faces.CLIENT_WINDOW_MODE</param-name>
		<param-value>url</param-value>
	</context-param>

</web-app>
