<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Suppress noisy internal logs from blessed-bluez and DBus -->
        <Logger name="com.welie" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.freedesktop" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <!-- Our own code logs at INFO -->
        <Logger name="com.victron" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="WARN">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
