<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorinterval="30" status="INFO" strict="true" name="amp" xmlns="http://logging.apache.org/log4j/2.0/config">

        <Properties>
                <Property name="filename">/tmp/goTemp.log</Property>
        </Properties>

        <Appenders>
                <Console name="CONSOLE" target="SYSTEM_OUT">
                        <PatternLayout pattern="%16d %-5p [%c{1}:%L] (%X{mail}) %m%n"/>
                </Console>
                
                <RollingFile name="fileAppender" append="true">
                        <FileName>${filename}</FileName>
                        <FilePattern>${filename}-%d{yyyy-MM-dd}</FilePattern>
                        <PatternLayout>
                                <pattern>%16d %-5p [%c{1}:%L] (%X{mail}) %m%n</pattern>
                        </PatternLayout>
                        <Policies>
                                <TimeBasedTriggeringPolicy interval="1"/>
                        </Policies>
                </RollingFile>

        </Appenders>

        <Loggers>
                <Root level="WARN" additivity="false">
                        <AppenderRef ref="CONSOLE" />
                        <AppenderRef ref="fileAppender" />
                </Root>

                <Logger name="org.test" level="TRACE" additivity="false">
                        <AppenderRef ref="CONSOLE" />
                        <AppenderRef ref="fileAppender" />
		</Logger>
	</Loggers>
</Configuration>
